---
title: S•A•V•A•G•E•C•O•R•P
---


<div class="header">
  <h1 class="logo">Savagecorp</h1>
  <!-- <h2>a Studio specializing in the creation of digital experiences that excite, inspire, and motivate across the web and mobile platforms.</h2> -->
  <h2>a Studio specializing in the creation of digital experiences across mobile platforms & the web.</h2>
  <div class="social_links">
    <a href="https://dribbble.com/Savagecorp" target="_blank"><i class="fab fa-dribbble"></i></a>  
    <a href="https://twitter.com/hellosavagecorp" target="_blank"><i class="fab fa-twitter"></i></a>  
    <!-- <a href="https://github.com/savagecorp" target="_blank"><i class="fab fa-github"></i></a>  -->
  </div>

  <div class="container-travel"> 
  <div class="content">
      <a target="_blank">
        <h3><span> Tourism Travel Application </span> <br> Interactive Design, UX, UI, Prototypes, iOS & Android, Creative&nbsp;Production</h3>
        <img src="images/work-travelapp.png" alt="">
      </a>
    </div>
  </div>
</div>


  <div class="container-include"> 
    <div class="content -nopadding">
      <a target="_blank">
        <h3><span> Include.io Platform </span> <br> Interactive Design, UX, UI, Product Strategy, Creative&nbsp;Production</h3>
        <img src="images/work-include-01.png" alt="">
      </a>
    </div>
  </div> 


<div class="container-inverse">
  <div class="content -nopadding">
    <a target="_blank">
      <h3><span> Inverse </span> <br> Visual & Responsive Design, UX, UI, Product Strategy, Creative&nbsp;Production</h3>
      <h3><span> Inverse </span> <br> Visual & Responsive Design, UX, UI, Product Strategy, Creative&nbsp;Production</h3>
      <img src="images/work-inverse-01.png" alt="" class="mobileimg">
      <img src="images/work-inverse-02.png" alt="" class="desktopimg">
    </a>
  </div>
</div> 

<div class="container-tvparty">
  <div class="content">
      <a target="_blank">
          <h3><span> TV Party — Chat with friends, fans and celebrities before, during and after your favorite shows. </span> <br> Interactive Design, UX, UI, iOS, Creative&nbsp;Production </h3>
    <img src="images/work-tvp-full-01.png" alt="">
    </a>
  </div>
</div> 

<div class="container-conversocial">
  <div class="content -nopadding">
      <a target="_blank">
          <h3><span> Conversocial </span> <br> Visual & Responsive Design, Creative&nbsp;Production</h3>
    <img src="images/work-conversocial-01.png" alt="">
    </a>
  </div>
</div> 

<div class="container-lwtsummit">
  <div class="content -nopadding">
      <a target="_blank">
          <h3><span> Lesbians Who Tech — Summit Design Refresh</span> <br> Visual & Responsive Design, UX, UI, Creative&nbsp;Production</h3>
    <img src="images/work-lwt-nextgen-01.png" alt="">
    </a>
  </div>
</div> 

<div class="container-thewing">
  <div class="content">
      <a target="_blank">
          <h3><span> The Wing </span> <br> Visual & Responsive Design, UX, UI</h3>
    <img src="images/work-thewing-01.png" alt="">
    </a>
  </div>
</div> 

<div class="container-cheddarios">
  <div class="content">
      <a target="_blank">
          <h3><span> Cheddar iOS </span> <br> Interactive Design, UX, UI, Creative&nbsp;Production</h3>
    <img src="images/work-cheddarios-01.png" alt="">
    </a>
  </div>
</div> 

<div class="container-cheddartvos">
  <div class="content">
      <a target="_blank">
          <h3><span> cheddar tvOS </span> <br> Interactive Design, UX, UI</h3>
    <img src="images/work-cheddartvos.png" alt="">
    </a>
  </div>
</div> 


<div class="container-soma">
  <div class="content -nopadding">
      <a target="_blank">
        <h3><span> Soma — the fastest and most secure way to access the internet. </span> <br> Interactive Design, Branding, UX, UI, Product Strategy, Creative&nbsp;Production</h3>
        <img src="images/work-soma-01.png" alt="" class="mobileimg">
        <img src="images/work-soma-02.png" alt="" class="desktopimg">
    </a>
  </div>
</div> 
  
<div class="container-pleadthefifth">
  <div class="content">
      <a target="_blank">
          <h3><span> Plead the Fifth iOS </span> <br> Interactive Design, UX, UI, Product Strategy, Creative&nbsp;Production</h3>
    <img src="images/work-pleadthefifth-ios-01.png" alt="">
    </a>
  </div>
</div> 


<!-- # Begin Client Logo List -->


<div class="container clientlist">
  <div class="content">
     <h4> Savagecorp helps a diverse set of startups and companies succeed, by providing product strategy, digital design, and front-end development</h4>
     <a class="contact" href="mailto:hello@savagecorp.com?subject=Let's Work Together">Let's Work Together</a>
     <div class="clientlogowrap">
       <a href="https://www.inverse.com/" target="_blank"><img src="/images/clientlogos/logo-inverse.png" data-rjs="3" alt="Inverse"></a>
       <a href="https://cheddar.com/" target="_blank"><img src="/images/clientlogos/logo-cheddar.png" data-rjs="3" alt="Cheddar"></a>
       <a href="https://www.listenlively.com/" target="_blank"><img src="/images/clientlogos/logo-lively.png" data-rjs="3" alt="Lively"></a>
       <a href="http://bit.ly/2DSVRtt" target="_blank"><img src="/images/clientlogos/logo-thewing.png" data-rjs="3" alt="The Wing"></a>
       <a href="http://bit.ly/2zu7T9y" target="_blank"><img src="/images/clientlogos/logo-conversocial.png" data-rjs="3" alt="Conversocial"></a>
       <a href="https://swoo.sh/2AxaaAx" target="_blank"><img src="/images/clientlogos/logo-nike.png" data-rjs="3" alt="Nike"></a>
       <a href="http://bitly.com/2jcpdZD" target="_blank"><img src="/images/clientlogos/logo-bravo.png" data-rjs="3" alt="Bravo"></a>
       <a href="http://bit.ly/2E4yspO" target="_blank"><img src="/images/clientlogos/logo-include.png" data-rjs="3" alt="Include.io"></a>
       <a href="http://bit.ly/2BG5uKt" target="_blank"><img src="/images/clientlogos/logo-lwt.png" data-rjs="3" alt="Lesbians Who Tech"></a>
       <a href="http://bit.ly/2nMqIO5" target="_blank"><img src="/images/clientlogos/logo-movableink.png" data-rjs="3" alt="Movable Ink"></a>
       <a href="http://bit.ly/2iMeaTJ" target="_blank"><img src="/images/clientlogos/logo-km.png" data-rjs="3" alt="KM"></a>
       <a href="http://bit.ly/2rbFjoM" target="_blank"><img src="/images/clientlogos/logo-soma.png" data-rjs="3" alt="Soma VPN"></a>
       <a href="http://bit.ly/2RoUCWz" target="_blank"><img src="/images/clientlogos/logo-chanel.png" data-rjs="3" alt="Chanel"></a>
       <a href="http://bit.ly/1qGqOoQ" target="_blank"><img src="/images/clientlogos/logo-equifax.png" data-rjs="3" alt="Equifax"></a>
       <a href="http://bit.ly/2ozcYGE" target="_blank"><img src="/images/clientlogos/logo-eastmedia.png" data-rjs="3" alt="Eastmedia"></a>
       <a href="https://www.zipmark.com/" target="_blank"><img src="/images/clientlogos/logo-zipmark.png" data-rjs="3" alt="Zipmark"></a>
     </div>
  </div>
</div>